<br>
<hr class="my-4">
<br>
<div class="pumpkinFrame"> </div>
<footer class="py-4 bg-dark text-white-50">
	<div class="container text-center">
		<small>Copyright &copy; 2019 XKCD Comic.<br>v2.0</small>
	</div>
</footer>