body {
  background: rgb(245, 245, 245);
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.body-part-m {
    margin-left: 0px;
    margin-right: 0px;
}

.body-part-p {
    padding: 20px;
}

.jumbotron{
    background-image: url("bg.jpg");
    background-color: white;
}

#pumpkinFrame {
    background-image: url("pumpkinFrame.png");
    height: 50px;
    width: 100%;
    margin-bottom: -5px;
    background-size: contain;
}