body {
  background: rgb(245, 245, 245);
  background-image: url("halloweenBG.jpg");
  background-size: contain;
  background-repeat: repeat;
  opacity: 0.9;
  filter: drop-shadow(8px 10px 15px black)
}

ul {
  margin: 0;
  padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.body-part-m {
    margin-left: 0px;
    margin-right: 0px;
}

.body-part-p {
    padding: 20px;
}

.jumbotron{
    background-image: url("bg.jpg");
    background-color: white;
}

.pumpkinFrame {
    background-image: url("pumpkinFrame.png");
    height: 46px;
    width: 100%;
    margin-bottom: -20px;
    background-size: contain;
}
