body {
  background: rgb(245, 245, 245);
  background-image: url("halloweenBG.jpg");
  background-size: contain;
  background-repeat: repeat;
  filter: drop-shadow(2px 5px 5px black)
}

ul {
  margin: 0;
  padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.body-part-m {
    margin-left: 0px;
    margin-right: 0px;
}

.body-part-p {
    padding: 20px;
}

.jumbotron{
    background-image: url("bg.jpg");
    background-color: white;
}

.pumpkinFrame {
    background-image: url("pumpkinFrame.png");
    height: 40px;
    width: 100%;
    background-size: contain;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
